body {
  font-family: var(--font-family-sans-serif);
  line-height: 1.5;
  font-size: 1.2rem; }

.header {
  position: absolute;
  width: 100%;
  z-index: 4; }
  .header ul {
    display: inline-block;
    padding: 0;
    margin: 0; }
    .header ul li {
      display: inline-block; }
      .header ul li a {
        color: #ffffff;
        padding: 10px 10px; }

.logo {
  position: absolute;
  top: -20px;
  left: -20px; }
  .logo a {
    color: #ffffff; }
    .logo a:hover {
      text-decoration: none; }

.hero {
  height: 100vh;
  min-height: 800px;
  position: relative; }
  .hero:after {
    content: "";
    right: 0;
    position: absolute;
    background-image: url("../images/grunge.png");
    height: 91px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3; }
  .hero .hero-text {
    margin-top: 35%; }
    .hero .hero-text h1 {
      font-weight: 700;
      color: #ffffff;
      font-size: 2.5rem;
      text-shadow: 0 0 40px black; }
    @media screen and (max-width: 768px) {
      .hero .hero-text {
        margin-top: 55%; }
        .hero .hero-text h1 {
          font-size: 2rem; } }

.img-wrap img {
  -o-object-fit: cover;
  object-fit: cover; }

.topics-wrap .topics-wrap-inner {
  padding: 30px; }

.topics-wrap h3 {
  font-size: 1.7rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: .5rem; }

.topics-wrap .topics {
  -webkit-columns: 200px 3;
  columns: 200px 3; }
  .topics-wrap .topics li {
    text-transform: capitalize;
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #ffffff;
    position: relative;
    padding-left: 30px; }
    .topics-wrap .topics li:before {
      content: "\e834";
      font-family: 'icomoon';
      position: absolute;
      top: .05rem;
      left: 0;
      color: rgba(255, 255, 255, 0.5);
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .topics-wrap .topics li:hover:before {
      color: #ffffff; }

.img-bg {
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat; }

.site-section {
  padding: 4rem 0; }
  @media screen and (max-width: 768px) {
    .site-section {
      padding: 2rem 0; } }

.text-black {
  color: #000000 !important; }

.img-shadow {
  position: relative;
  -webkit-box-shadow: 0 10px 100px -40px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 100px -40px rgba(0, 0, 0, 0.5); }

.footer-section {
  padding: 4rem;
  background: #000000;
  font-size: .95rem;
  line-height: 1.7;
  color: #999999; }
  .footer-section h3 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #000000; }
  .footer-section ul li {
    margin-bottom: 10px; }

.btn:hover, .btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.btn.btn-outline-white {
  border-color: #ffffff;
  border-width: 2px;
  color: #ffffff; }
  .btn.btn-outline-white:hover {
    background: #ffffff;
    color: #000000; }

.btn.btn-md {
  padding: 10px 30px !important; }
